<!-- CARD -->
<div class="card">
  <div class="card-back"></div>

  <div class="card-front">
    <div class="data-card">
      <img
        src="/assets/images/card-logo.svg"
        class="card-logo"
        alt="Card Logo"
      />

      <p class="number-card">{{ cardNumber }}</p>

      <div class="card-foot">
        <p class="name-expire">
          <span class="card-name">{{ cardholderName | uppercase }} </span>
        </p>
  
        <p class="card-expire">
          <span class="card-month">{{ cardMonth }}</span>    
          <span class="card-year">{{ cardYear }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
