/* CARDS */


.card {
 color: var(--white);
 position: relative;
 padding-top: 1rem;

 width: 75%;
 margin: 0 auto;
 
}

.card-front {
  position: absolute;
  top: 65%;
  display: flex;
}

.card-back {
  display: flex;
  justify-content: flex-end;
  padding-top: 3rem;
  width: 100%;

  position: relative;
  left: 3rem;
}

.card-back .img-back,
.card-front .img-front {
  width: 100%;
  background-size: cover;
}

.cvc {
  position: absolute;
  bottom: 38%;
  right: 4rem;
  color: black;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 0.1rem;
}



.card-logo {
  width: 7rem;
  margin-bottom: 2rem;
}

.data-card {
  position: relative;
  right: 3rem;
}



.info-card {
  position: absolute;
  top: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.number-card {
  letter-spacing: 0.3rem;
}

.name-expire {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
}

.card-foot {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 90%;
  bottom: 0;
  padding-bottom: 2rem;
}

.card-expire {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

span.card-month:after {
  content: "/";
}
