/* CARDS */

.card {
  color: var(--white);
  position: relative;
  padding-top: 1rem;

  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-front {
  position: absolute;
  top: 54%;
  display: flex;
}

.card-back {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  position: relative;
  left: 3rem;
}

.card-back .img-back,
.card-front .img-front {
  width: 100%;
  background-size: cover;
  max-width: 37rem;
}


/*
.cvc {
  position: absolute;
  bottom: 38%;
  right: 4rem;
  color: black;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 0.1rem;
}*/
.card-back::after {
  content: attr(data-cvc);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14%;
  font-size: 1.2rem;  
}

.card-logo {
  width: 7rem;
  margin-bottom: 2rem;
}

.data-card {
  position: relative;
  right: 3rem;
}

.info-card {
  position: absolute;
  top: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.number-card {
  letter-spacing: 0.2rem;
}

.name-expire {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
}

.card-foot {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 90%;
  bottom: 0;
  padding-bottom: 2rem;
}

.card-expire {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

span.card-month:after {
  content: "/";
}

/* MEDIA QUERY */

@media (min-width: 440px) {
  .card {
    width: 65%;
  }

  .card-front {
    top: 54%;
  }
  .number-card {
    letter-spacing: 0.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
  }
  .card-foot {
    padding-bottom: 0;
    bottom: 10%;
  }

  .cvc {
    bottom: 54%;
    right: 13%;
  }
}

@media (min-width: 720px) {
  .card {
    width: 40%;
  }

  .card-back .img-back,
  .card-front .img-front {
    min-width: 37rem;
  }
 


  .number-card  {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .c-card {
    width: 35%;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    position: absolute;
    left: 55%;
    width: 65%;
  }
  .card-front {
    position: initial;
    order: 1;
  }



  .info-card,
  .card-month,
  .name-expire,
  .card-expire {
    font-size: 1.3rem;
  }

  .card-back {
    order: 2;
    padding-top: 0;
  }

}
